h1{margin: 80px;font-style:oblique;text-align: center;font-size: 70px;color:  rgb(235 127 27)}
#kasher{width: 100%; height: 70vh;    justify-content: space-around;align-items: center;}
p{font-size: 30px;font-style:oblique;color:white  ;  margin: 0 15px}
.food_img{width: 33%;}
#kasher_img{width: 40%;z-index: 1;}
#img_food{justify-content: space-around;}
@media(max-width: 700px){ #kasher{flex-direction: column;}
.food_img{width: 100%;}
    .food_img:not(:nth-child(3)){display: none; }}